In [11]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
from matplotlib import pyplot as plt
import codecs
import json
import os

In [34]:
IMPORT = True
EXPORT = True
DISPLAY = True
VERBOSE = False
DATA_DIR = "data/"
NARRATIVE_DIR = "data/pizza_request_dataset/narratives"
SEED = 221

In [52]:
def get_datasets(type='medium'):
    if type not in ['medium', 'all', 'mini']:
        raise Exception("Invalid type!")
    cols =  ['requester_received_pizza', 'request_text']
    train_df= pd.read_csv(DATA_DIR + f'train_{type}.csv', usecols = cols).reindex(columns=cols)
    dev_df = pd.read_csv(DATA_DIR + f'val_{type}.csv', usecols = cols).reindex(columns=cols)
    return train_df, dev_df

In [53]:
train_df, dev_df = get_datasets(type='all')

In [54]:
train_df.head()

   requester_received_pizza                                       request_text
0                      True  Help a girl out? 1 medium cheese pizza to my w...
1                      True  Just hoping someone could help me out tonight ...
2                     False  Third and final interview for a job tomorrow. ...
3                     False  Just moved out right next to Disneyland and I ...
4                     False  It's my awesome birthday. Help a brother out p...

In [55]:
train_df_bert = pd.DataFrame({
    'id':range(len(train_df)),
    'label':train_df['requester_received_pizza'],
    'alpha':['a']*train_df.shape[0],
    'text': train_df['request_text'].replace(r'\n', ' ', regex=True)
})

In [56]:
train_df_bert.head()

   id  label alpha                                               text
0   0   True     a  Help a girl out? 1 medium cheese pizza to my w...
1   1   True     a  Just hoping someone could help me out tonight ...
2   2  False     a  Third and final interview for a job tomorrow. ...
3   3  False     a  Just moved out right next to Disneyland and I ...
4   4  False     a  It's my awesome birthday. Help a brother out p...

In [60]:
dev_df_bert = pd.DataFrame({
    'id':range(len(dev_df)),
    'label':dev_df['requester_received_pizza'],
    'alpha':['a']*dev_df.shape[0],
    'text': dev_df['request_text'].replace(r'\n', ' ', regex=True)
})

In [61]:
dev_df_bert.head()

   id  label alpha                                               text
0   0  False     a  My NCEA level three exams kick off next week a...
1   1  False     a  Short on cash untill I get paid Friday. Kids w...
2   2  False     a  Just got out of college for the summer, sleepi...
3   3  False     a  no story straight to the point just had my las...
4   4  False     a  I have less than 2 dollars in each of my accou...

In [ ]:

train_df_bert.to_csv('train.tsv', sep='\t', index=False, header=False)